@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lightning';
    src: url(./style/fonts/Lightningvolt.ttf);
}

@font-face {
    font-family: 'Liberation';
    src: url(./style/fonts/Liberation.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0A0759;
    color: #F2A20C;
}